.carousel {
    position: relative;
    margin: 50px 0;

    .switchLeft, .switchRight {
        color: white;
        font-weight: 600;
        height: 250px;
        width: 45px;
        line-height: 250px;
        font-size: 25px;
        text-align: center;
        background: #000;
        font-family: inherit;
        bottom: 0;
        z-index: 3;
        cursor: pointer;
        transition: background 0.15s ease;
        &:hover {
            background: #2A2A2A;
        }
    }
    .switchLeft {
        position: absolute;
    }
    .switchRight {
        position: absolute;
        right: 0;
    }
    a {
        text-decoration: none;
    }

    .carousel-box {
        display: flex;
        height: 250px;
        width: auto;
        padding: 0 50px;
        overflow: scroll;
        -ms-overflow-style: none; // IE 10+
            scrollbar-width: none; // Firefox
                &::-webkit-scrollbar {
                    display: none; // Safari & Chrome
                }
        white-space: nowrap;
        text-align: center;
        align-items: center;

        .slider-img {
            position: relative;
            min-width: 158px;
            max-width: 158px;
            height: 219px;
            background: #1A1A1A;
            background-size: cover;
            margin: 0 3px;
            cursor: pointer;
            z-index: 2;
            transition: background 0.2s ease, transform 0.2s ease;

            &:hover {
                z-index: 3; // 5
                background: #2A2A2A;
                transform: scale(1.1);
                border-radius: 6px;

                a {
                    opacity: 1;
                }
            }

            img {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 10px;
            }

            a {
                position: absolute;
                bottom: 10px;
                left: 10px;
                padding: 6px 16px;
                border-radius: 50%;
                background: #232323;
                color: white;
                font-size: 22px;
                font-weight: 600;
                transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
                opacity: 0;
                user-select: none;

                &:hover {
                    background: #fff;
                    color: #000;
                    transform: scale(1.05);
                }
            }
        }
    }
}