:root {
    // Text Colors
    --text-color-primary: #fff;
    --text-color-secondary: #B1C0C3;
    // Other Colors
    --body-color: #000;
    --dark-contrast-color-01: #252831;
    --dark-contrast-color-02: #7AD474;
    // Text Sizes
    --text-size-01: 1rem; //38px
    --text-size-02: 0.75rem; //18px
    // Text Weights
    --text-weight-thin: 100;
    --text-weight-extra-light: 200;
    --text-weight-light: 300;
    --text-weight-regular: 400;
    --text-weight-medium: 500;
    --text-weight-semi-bold: 600;
    --text-weight-bold: 700;
    --text-weight-extra-bold: 800;
    --text-weight-black: 900;
}