<div class="carousel">
    <h2><%= title %></h2>
    <div class="carousel-box <%= className %>">
        <!-- Data Goes Here -->
    </div>
    <a class="switchLeft sliderButton disable-select" onclick="sliderScrollLeft()"><</a>
    <a class="switchRight sliderButton disable-select" onclick="sliderScrollRight()">></a>
</div>